@charset "UTF-8";

@font-face {
  font-family: "antonio";
  src: local(☺),
       url("fonts/antonio-regular-webfont.woff") format('woff'),
       url("fonts/antonio-regular-webfont.woff2") format('woff2');
  font-weight: 400;
  font-style: normal;
}
/* viewport fixing for RWD */
@-webkit-viewport {
  zoom: 1.0;
  width: device-width;
}
@-moz-viewport {
  zoom: 1.0;
  width: device-width;
}
@-ms-viewport {
  zoom: 1.0;
  width: device-width;
}
@-o-viewport {
  zoom: 1.0;
  width: device-width;
}
@viewport {
  zoom: 1.0;
  width: device-width;
}
form, fieldset {
  border: medium none;
}
input, button, select, label {
  font-family: inherit;
  font-size: inherit;
  vertical-align: middle;
}
label {
  display: block;
  vertical-align: middle;
}
input[type="submit"] {
  cursor: pointer;
}
input[type="submit"]::-moz-focus-inner {
  border: 0 none;
  padding: 0;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html, body {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  border: 0 none;
  vertical-align: middle;
  height: auto;
}
.inbl {
  display: inline-block;
}
.hidden {
  left: -7000px;
  overflow: hidden;
  position: absolute;
}
body {
  font-family: "helvetica neue", arial, sans-serif;
  font-size: 100%;
  line-height: 1.2;
  background: #fefefe;
  color: #333;
}
a {
  color: #2562dc;
  text-decoration: none;
}
a:focus, a:hover {
  text-decoration: underline;
}
h1 {
  font-size: 2em;
  text-transform: uppercase;
  font-family: antonio, arial, sans-serif;
}
.wrapper {
  margin: 2em auto 0;
  max-width: 50em;
  padding: 0 .5em;
}
.main {
  margin: 0 0 2em;
}

ul.testimonials, ul.featured {
margin: 0px;
padding: 0px;
		 font-size: 13px;
		 margin-top: 10px;
		 margin-bottom: 30px;
}

ul.testimonials li, ul.featured li {
padding: 0;
		 list-style-type: none;
		 padding-left: 40px;
		 padding-bottom: 30px;
}

ul.testimonials li {
background: url("img/quote.png") no-repeat top left; 
}
